{% extends "users/base.html" %}
{% block content %}

    <!-- Style the Content Block -->
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p> Your password has been changed. <a href="{% url 'login' %}" class="alert-link">Login again to access the site</a>
              </div>
          </div>

          </div>

        </div>
  </main>

{% endblock content %} 