{% extends "transport/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Fuel Issuance Form </h2>
    <hr>
    <form method = "POST" id="fuelForm" data-prices-url="{% url 'ajax-load-prices' %}" data-vehicle-url="{% url 'ajax-load-vehicles' %}" data-codes-url="{% url 'ajax-load-codes' %}" novalidate>
        {% csrf_token %}
        <fieldset class ="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class ="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script>
          $("#id_fuel_type_requested").change(function () {
            var url = $("#fuelForm").attr("data-prices-url");  // get the url of the `load_cities` view
            var fuel_name_id = $(this).val();  // get the selected country ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'fuel_type_requested': fuel_name_id       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_price_per_liter").html(data);  // replace the contents of the city input with the data that came from the server
              }
            });
      
          });

          $("#id_region").change(function () {
            var url = $("#fuelForm").attr("data-vehicle-url");  // get the url of the `load_cities` view
            var region_id = $(this).val();  // get the selected country ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'region': region_id       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_registration_no").html(data);  // replace the contents of the city input with the data that came from the server
              }
            });
      
          });

          $("#id_region").change(function () {
            var url = $("#fuelForm").attr("data-codes-url");  // get the url of the `load_cities` view
            var region_id = $(this).val();  // get the selected country ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'region': region_id       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_region_code").html(data);  // replace the contents of the city input with the data that came from the server
              }
            });
      
          });  
          
      </script>

    <script>
    $('select[name="price_per_liter"]').change(function(){
    var val1 = $("#id_fuel_amount_requested").val(); // textbox value
    var val2 = $(this).val(); // select box value
    var val3 = val1 * val2; // multiply both value
    $("#id_total").val(val3);
    });
    </script>
    <!--<script type="text/javascript">

          //function to calculate total

      function Totalprice() {
        fuelprice = Number($('#id_price_per_liter').val());
        amount = Number($('#id_fuel_amount_requested').val());
            if(fuelprice && amount && !isNaN(fuelprice) && !isNaN(amount)){
              $('#id_total_price').val(fuelprice * amount);
            }
            else {
              $('#id_total').val(0);
            }
      }
    </script>

                if('#id_total_price' != fuelprice * amount ){
              alert ('error')

            }
    -->

    <script>

      function reMultiply1() {
        fuelprice = Number($('#id_fprice').val());
        amount = Number($('#id_liters_served').val());
            if(fuelprice && amount && !isNaN(fuelprice) && !isNaN(amount)){
              $('#id_amount').val(fuelprice * amount);
              console.log('fuelprice');
            }
            else {
              $('#id_amount').val(0);
            }

      }  


    
    </script>
    {% endblock content %}
